.images-container {
  display: flex;
  list-style-type: none;
}

.image {
  margin-top: 10px;
}

.one-column {
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.one-column .image {
  flex-basis: 100%;
}

.three-column {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.three-column .image {
  flex-basis: 30%;
}
