.toggle-button {
  flex-basis: 50%;
  margin: 0;
  border: none;
  border-radius: 0;
}

.toggle-container {
  width: 400px;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  margin: 20px auto;
}

.passive {
  background-color: white;
  color: blue;
}

.active {
  background-color: lightgray;
  color: cadetblue;
}
