.App {
  text-align: center;
}

@media all and (max-width: 600px) {
  .App {
    padding: 0 20px;
  }
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .App {
    padding: 0 80px;
  }
}

@media all and (min-width: 1200px) {
  .App {
    padding: 0 5%;
  }
}
